{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
  <h1>The Ultimate Restaurant App!</h1>
  <p>Here at the Ultimate we believe in the future.  Specifically we believe the future will be held together by a crepe filled with egg, gruyere, portobello mushrooms, Merguez sausage, and a "commemorative" tote-bag.  </p>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Meet your Makers</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Meet your Makers, SON!</h4>
      </div>
      <div class="modal-body">
        <p>Joe</p>
          <p>Brennon</p>
          <p>Ben</p>
          <p>Jude</p>
          <p>Emily</p>
      </div>
      <div class="modal-footer">
        <p><a class="btn btn-primary btn-lg" href="{% url 'restaurant_list_view' %}" role="button">Restaurants</a></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
{% endblock %}