{% extends 'base.html' %}
{% block title %} {{ object.name }} {% endblock %}
{% block content %}
{% if object.image %}
  <td>{{ object.image }}</td>
{% endif %}
<br><br>
<table class="table table-hover">
{% for menu in menus %}
<th>Restaurant Name</th><th>Cuisine Type</th>
<th>Hours</th><th>Phone Number</th>
<th>Address</th>
<tr><td>{{ object.name }}</td>
  <td>{{ object.cuisine }}</td>
  <td>{{ object.hours }}</td>
  <td>{{ object.number }}</td>
  <td>{{ object.address }}</td>
</tr>
</table>
{% endfor %}

{{object.menu}}
<button type="submit"><a href="{% url 'order_create_view' object.pk %}">Order Here!</a></button>

{% endblock %}
