{% extends 'base.html' %}
{% block title %} {{ object.name }} {% endblock %}
{% block content %}
{% if object.image %}
  <td>{{ object.image }}</td>
{% endif %}
<br><br>
<table class="table table-hover">
{% for menu in menus %}
<th>Restaurant Name</th><th>Cuisine Type</th>
<th>Hours</th><th>Phone Number</th>
<th>Address</th>
<tr><td>{{ object.name }}</td>
  <td>{{ object.cuisine }}</td>
  <td>{{ object.hours }}</td>
  <td>{{ object.number }}</td>
  <td>{{ object.address }}</td>
</tr>
</table>
{% endfor %}

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Menu</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Menu Items</h4>
      </div>
      <div class="modal-body">
        <p>{% for item in object.menu.item.all %}
        <div>{{ item.name }}
        {{ item.price }}</div>
        {% endfor %}</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default"><a href="{% url 'order_create_view' object.pk %}">Order Here!</a></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}
